/* Empty. Add your own CSS if you like */

.timePickerColon {
  padding-top: 38px;
  text-align: center;
}

.timePickerBoxText {
  text-align: center;
  border: 1px solid #dddddd !important;
  opacity: 1 !important;
  padding: 0 !important;
}
.ionic-timepicker .popup button{
	width: 100%;
}
.ionic-timepicker .popup button{
	width: 100%;
}

.bar.bar-stable, .tabs {
  box-shadow: 0px 0px 5px #555;
}

.overflowShow {
  white-space: normal !important;
}